.main-block
    .main-block__item
        img.main-block__avatar(src="images/man.svg" alt="logo")
        .main-block__description
            .main-block__header
                .main-block__title MAX JONES
                .main-block__status GOLD
            .main-block__proffesion Sales & Marketing
            hr.main-block__line
            .main-block__contact
                .main-block__contact-item
                    .main-block__contact-title PHONE
                    .main-block__contact-address (+31) 140 175 468
                .main-block__contact-item
                    .main-block__contact-title ADDRESS
                    .main-block__contact-address Binnenweg 50, Rotterdam
                button.main-block__button CREATE QUOTE



        