.main-block{
    font-family: $main-font;
    display:flex;
    flex-direction: column;
    padding-top:64px;
    background-color:  $content-bg-color;
    &-item{
        display:flex;
        width: 100%;
    }
    &__contact{
        display:flex;
        margin-top:31px;
        margin-left:4%;
        align-items: center;
        justify-content: space-between;

    }
    &__description{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    &__avatar{
        width: 98px;
        height: 97px;
        padding-left:31px;
    }
    &__header{
        display:flex;
        align-items: center;
    }
    &__title{
        
        color:  #4f4f4f;
        font-size: 20px;
        font-weight: 700;
        line-height: 10px;
        text-align: left;
        margin-left:4%;

    }
  
    &__status{
        background-color:  #ffc12d;
        width: 51px;
        height: 18px;
        color:  #ffffff;
        font-size: 11px;
        font-weight: 700;
        line-height: 10px;
        justify-content: center;
        display:flex;
        border-radius:5px;
        align-items: center;
        margin-left:17px;
    }
    &__proffesion{
        color:  #999999;
        font-size: 15px;
        font-weight: 700;
        line-height: 10px;
        text-align: left;
        padding-top:10px;
        margin-left:4%;
    }
    &__contact-title{
        color:  #999999;
        font-size: 13px;
        font-weight: 700;
        line-height: 10px;
        text-align: left;
        margin-bottom:13px;
    }
    &__line{
        background-color:  #ededed;
        width:96%;
        height: 2px;
        border:0;
        margin-top:15px;
        margin-left:4%;
    }

    &__contact-address{
        color:  #442a9d;
        font-size: 15px;
        font-weight: 700;
        line-height: 10px;
        text-align: left;
        
    }
    &__link{
        text-decoration: none;
        color:  #303841;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        padding-right:55px;
        padding-left:52px;
    }
    &__underline{
        background-color:  #442a9d;
        width: 100px;
        height: 6px;
        margin-left:36px;
        border-radius:5px;
        margin-top:21px;
    }
    &__button{
        border-radius: 4px;
        background-color:  #303841;
        width: 159px;
        height: 36px;
        color:  #ffc12d;
        font-size: 14px;
        font-weight: 700;
        line-height: 10px;
        border:0;
        margin-right:35px;
    
    }
    &-item2{
        margin-top:90px;
        display:flex;
    }
}