.navigation
    .navigation__header CRM

    button.navigation__element
        img.navigation__icon-dash(src="images/icon1.png" alt="icon")
        span.navigation__text Dashboard

    hr.navigation__line


    button.navigation__element
        img.navigation__icon-reports(src="images/icon2.png" alt="icon")
        span.navigation__text Repots


    button.navigation__element.navigation__element_hover-color
        img.navigation__icon-custom(src="images/icon4.png" alt="icon")
        span.navigation__text Customers

    button.navigation__element
        img.navigation__icon-calendar(src="images/icon3.png" alt="icon")
        span.navigation__text Calendar

    hr.navigation__line