.header
    .header-item
        .header__title Customers
        img.header__text(alt="icon" src="images/arrow.png")
        .header__name Max Jones

    .header-item
        form(class="header__form")     
            input(type="text" placeholder="SEARCH").header__input
            img(src="images/search.png" alt="icon").header__icon-search
        .header__notifacation
            img.header__icon-notific(src="images/notification.png" alt="icon")
            img.header__icon-ellips(src="images/ellips.png" alt="icon")
            img.header__icon-number(src="images/4.png" alt="icon")
        img.header__icon-avatar(src="images/avatar.svg" alt="icon")
        span.header__text Hello Lauren